In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("users_list.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Ism               3 non-null      object
 1   Telegram ID       3 non-null      int64
 2   Shahar | Viloyat  3 non-null      object
 3   Yoshi             3 non-null      int64
 4   Qo‚Äòshilgan sana   3 non-null      object
 5   Loyihalar         3 non-null      int64
 6   Bloglar           3 non-null      int64
 7   Ko‚Äòngillilik      3 non-null      int64
dtypes: int64(5), object(3)
memory usage: 324.0+ bytes

In [6]:
df.head()

,Ism,Telegram ID,Shahar | Viloyat,Yoshi,Qo‚Äòshilgan sana,Loyihalar,Bloglar,Ko‚Äòngillilik
0,.Dragon. üêâ,5012184829,Buxoro shahri,20,2025-06-21,1,2,0
1,Humoyun Adhamjonov,1610011194,Toshkent shahri,19,2025-06-21,0,0,1
2,Oybek,6336842476,Toshkent shahri,18,2025-06-21,0,0,0